<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/previous_styles.css') }}" />
    <link rel="shortcut icon" type="image/png" href="/static/images/white-logo.png" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    {% block header %}
    
    {% endblock %}
    
    <nav id="nav-bar">
        <div class="container">
          <ul>
            <li>
                <a class="nav-link" href="/">Home Page</a>
              </li>
            <li>
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li>
              <a class="nav-link" href="/register">Register</a>
            </li>
          </ul>
        </div>
      </nav>

    {% block content %}
        
    {% endblock %}

    {% block footer %}
    <footer id="main-footer">
        <p>Copyright © 2020 Pedro Gregório. All rights reserved</p>
    </footer>
    {% endblock %}


</body>

</html>